video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:10px;
    width: 100vh;
    height: 300px;

}
.streamcomponent{
    display: flex;
    justify-content: center;
}
