* {
  box-sizing: border-box;
}

html,
body {
 overflow-x: hidden
}


#root {
  
}

.Container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardContainer {
  padding: 5px;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 550px;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
  
}

.card {
  height: 500px !important;
  
}

.Cardimage {
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  max-height: 570px;
  height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}


h2 {
  display: inline-block;
  margin-right: 10px;
}

h2:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.35rem;
}

h4 {
  margin-top: -15px;
  margin-left: 2px;
  color: gray;
}
h4:last-of-type {
  color: gray;
}

.card > div {
  height: 380px !important;
}

.slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}
